doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/nouislider.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/adminka.css')
    script(src='https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU', type='text/javascript')
  block content
script(src='js/jquery-2.2.0.min.js')
script(src='js/nouislider.min.js')
script(src='js/bootstrap.min.js')
script(src='js/main.js')
script(src='js/ajaxformaction.js')