.b_filtr.b_filtr.b_filtr-offices
      .b_filtr-item
        .b_filtr-heading Назначение:
        .b_filtr-description Для чего вы ищите помещение?
        - for (var i = meanings.length - 1; i >= 0; i--) 
          .b_filtr-item-formfield
            label(for='meaningId')
              input(type='checkbox', name='meaningId', value= meanings[i].meaningsId)
              span= ' '+meanings[i].maeningsName
      .b_filtr-item
        .b_filtr-heading Площадь:
        .b_filtr-description Какой площади вам нужно помещение?
        .b_filtr-item-formfield.slider-item
          #square_slider
            //-input(class="min",type="text") 
            input(type="text").min
            input(type="text").max
            .clearfix
      .b_filtr-item
        .b_filtr-heading Цена:
        .b_filtr-description На какую цену за 1м
          sup 2 
          | вы рассчитываете?
        .b_filtr-item-formfield.slider-item
          #price_slider
            input(type="text").min
            input(type="text").max
            .clearfix
        .b_filtr-description
          | Цена указывается за 1м
          sup 2
          br
          br
          | Цена за всю площадь:
          br
          span.min-price
          |  - 
          span.max-price
      button.b_filtr-button Применить
      input#placemarksCount(type='hidden')
      .clearfix