.container
  .col-md-6
    .footer-heading
      | аренда
      br
      | недвижимости
      br
      | в иркутске
    |         Сайт, который поможет найти помещение
    br
    | под любой вид коммерческой деятельности
    br
    strong без посредников
    .info-field
      .info-field-icon.i-addr
      .info-field-item
        | Наш офис находится по адресу:
        br
        strong Иркутск, ул. Чехова 19
      .clearfix
    .info-field
      .info-field-icon.i-tel
      .info-field-item
        | Наш телефон:
        br
        strong +7 999 230 43 43
      .clearfix
    .info-field
      .info-field-icon.i-email
      .info-field-item
        | Электронная почта:
        br
        strong Office@mail.ru
      .clearfix
  .col-md-6
    .info-field.connect-red
      .info-field-icon.i-cred
      .info-field-item
        b Связаться с нами
      .clearfix
    .info-field
      .info-field-icon.i-call
      .info-field-item
        p
          b Наши операторы помогут вам найти помещение.
          br
          | Оставьте свой номер телефона и мы вам перезвоним!
      .clearfix
    .info-field.form
      .form-inline.row
        input#footercallbackfield.form-control(type='text', placeholder='Введите телефон')
        input#footercallbacksend.btn.btn-danger(type='submit', value='заказать звонок')
    .info-field
      .info-field-icon.i-send
      .info-field-item
        strong Также вы можете написать нам:
        br
        br
        textarea#footercomment.form-control(name='comment', cols='30', rows='10', placeholder='Комментарий')
      .clearfix
    .info-field.form
      p Чтобы мы могли ответить вам, оставьте свою почту:
      .form-inline.row
        input#footercommentemail.form-control(type='text', placeholder='Введите email')
        input#footercommentsend.btn.btn-danger(type='submit', value='отправить')
  .clearfix