extends layout

block content
    .b_filtr-trigger Показать фильтр
    include ./filtr.jade
    .clearfix
    //-#b_mainmap.b_mainmap
    footer.search
      a(name='footer')
      .close-footer
        span.glyphicon.glyphicon-remove
      include ./footer.jade
