doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/nouislider.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/enjoyhint.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic-ext,cyrillic', rel='stylesheet', type='text/css')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/enjoyhint.min.js')
body
  //- Yandex.Metrika counter
  script(type='text/javascript').
    (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
    w.yaCounter36133220 = new Ya.Metrika({
    id:36133220,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true,
    trackHash:true
    });
    } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  noscript
    div
      img(src='https://mc.yandex.ru/watch/36133220', style='position:absolute; left:-9999px;', alt='')
  //-Yandex.Metrika counter
  .close-layout
  -if (ishome == 1)
    .hint-trigger 
      .hint-trigger-text помощь по сайту
      .hint-trigger-sign ?
  .b_header
    .b_header-heading
      a(href='/')
        .b_header-heading-hight Аренда в Иркутске
        .b_header-heading-low Коммерческая недвижимость от собственников
    .b_header-nav
      .navtrigger
        .nav-icon
        .nav-label меню
      ul
        li
          a(href='/')
            .nav-icon.search-icon
            .nav-label карта
        li
          a(href='/objects')
            .nav-icon.object-icon
            .nav-label объекты
        li
          a(href='/bmarks')
            .nav-icon.mark-icon
              .mark-ind
            .nav-label закладки
        li.b_header-info-mobile
          a(href='#footer')
            .nav-icon.info-icon
            .nav-label контакты
    .clearfix
  .clearfix

  block content
  -if (ishome == 1)
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
    script(src='js/map.js')
  //-script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
  script(src='js/bootstrap.min.js')
  script(src='js/nouislider.min.js')
  script(src='js/main.js')