doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/nouislider.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    script(src='https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU', type='text/javascript')
    script(src='js/map.js')
body
  .close-layout
  .b_header
    .b_header-heading
      a(href='/')
        .b_header-heading-hight Аренда в Иркутске
        .b_header-heading-low Коммерческая недвижимость от собственников
    .b_header-nav
      .navtrigger
        .nav-icon
        .nav-label меню
      ul
        li
          a(href='/')
            .nav-icon.search-icon
            .nav-label поиск
        li
          a(href='/objects')
            .nav-icon.object-icon
            .nav-label объекты
        li
          a(href='/bmarks')
            .nav-icon.mark-icon
              .mark-ind
            .nav-label закладки
        li.b_header-info-mobile
          a(href='#footer')
            .nav-icon.info-icon
            .nav-label контакты
    .clearfix
  .b_header-info
    a(href='#footer') Связаться с нами
  .clearfix

  block content
  
  script(src='js/jquery-1.11.3.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/nouislider.min.js')
  script(src='js/main.js')