extends layout

block content
  //- #b_mainmap.b_mainmap-fon
  .b_objects-heading
        a(href="/") Карта
        |  / 
        a(href="/objects") Объекты
        |  / 
        -if (offices.length > 0)
          strong= decodeURI(offices[0].objectName)+', '+decodeURI(offices[0].objectAdres)
        //-  ТЦ “Рублёв” ул. Чехова д. 19
  .b_filtr-trigger Показать фильтр
  include ./filtr.jade
  .b_offices-container
    .b_offices
      -if (offices.length > 0)
        -for (var i = 0; i < offices.length; i++)
          //-if (i > 0 && i % 2 == 0) break
          //-alert('123')
          .b_offices-item
            a(href='/currentoffice:'+offices[i].officeId)
              .b_offices-item-img
                img(src= imgFolder+offices[i].officeImage, alt='')
            .b_offices-item-text
              a(href='/currentoffice:'+offices[i].officeId)
                .b_offices-item-heading= offices[i].officeDescription
              .bmark-trigger(data-title='Добавить в закладки')
              hr
              .b_offices-item-description
                span.price
                  | Цена за м
                  sup 2
                  | : 
                  span.price-num= offices[i].officeSubprice+'p'
                span.square
                  | Площадь: 
                  span.square-num= offices[i].officeArea
                    | м
                    sup 2
      
    .clearfix
    .load-next(data-title= allCount)
      -if (offices[0])
        a(href="#", data-title= "'"+offices[0].officeObject+"'") 
          //-| ↓ Далее
          img.load-next-img(src="img/loadnext.png", alt=" ↓ Далее")
  .clearfix
  footer
      a(name='footer')
      include ./footer.jade